@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/segoeui.ttf");
}

@font-face {
  font-family: "Segoe UI Light";
  src: url("/fonts/segoeuil.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("/fonts/segoeuib.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("/fonts/Montserrat-Light.ttf");
}

body {
  font-family: "Segoe UI";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

.navBar {
  max-width: 1200px;
  margin: auto;
}

.App {
  max-width: 1200px;
}